<aside id="accounts" class="doublebox">
    <div class="top">
        My accounts
    </div>
    <div class="bot">
        <ul class="multirow">
            <li>
                <a href="https://t.me/Steffo" rel="me">
                    @Steffo
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99" rel="me">
                    Steffo99
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/user/Steffo99/" rel="me">
                    /u/Steffo99
                </a>
            </li>
            <li>
                <a href="mailto:ste.pigozzi@gmail.com" title="ste.pigozzi@gmail.com">
                    E-mail
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/id/steffo1999/" rel="me">
                    Steffo
                </a>
            </li>
            <li>
                <span>
                    <i class="fab fa-discord"></i> Steffo#4036
                </span>
            </li>
            <li>
                <a href="https://www.twitch.tv/captsteffo" rel="me">
                    CaptSteffo
                </a>
            </li>
            <li>
                <a href="https://it.wikipedia.org/wiki/User:Steffo99" rel="me">
                    Steffo99
                </a>
            </li>
        </ul>
    </div>
</aside>