<div id="accounts" class="doublebox">
    <div class="top">
        My accounts
    </div>
    <div class="bot">
        <ul class="multirow">
            <li>
                <a href="https://t.me/Steffo" rel="me">
                    <i class="fab fa-telegram"></i> @Steffo
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99" rel="me">
                    <i class="fab fa-github"></i> Steffo99
                </a>
            </li>
            <li>
                <a href="https://www.reddit.com/user/Steffo99/" rel="me">
                    <i class="fab fa-reddit"></i> /u/Steffo99
                </a>
            </li>
            <li>
                <a href="mailto:ste.pigozzi@gmail.com" title="ste.pigozzi@gmail.com">
                    <i class="fas fa-envelope"></i> E-mail
                </a>
            </li>
            <li>
                <a href="https://steamcommunity.com/id/steffo1999/" rel="me">
                    <i class="fab fa-steam"></i> Steffo
                </a>
            </li>
            <li>
                <span>
                    <i class="fab fa-discord"></i> Steffo#4036
                </span>
            </li>
        </ul>
    </div>
</div>