<article id="blogpost-{{ blogpost.post_id }}">
    <div class="doublebox">
        <div class="top">
            <span class="left">
                <header>
                    <span class="title">
                        Blogpost
                    </span>
                </header>
                {% if admin %}
                    <span class="admin">
                        <button class="edit" onclick="post_edit({{ blogpost.post_id }})">Edit</button>
                        <button class="delete" onclick="post_delete({{ blogpost.post_id }})">Delete</button>
                    </span>
                {% endif %}
            </span>
            <span class="right">
                <time datetime="{{ blogpost.timestamp.isoformat() }}">
                    {{ blogpost.timestamp.strftime("%Y-%m-%d") }}
                </time>
                <a class="permalink no-icon" href="/blogpost/{{ blogpost.post_id }}">
                    #
                </a>
            </span>
        </div>
        <div class="bot">
            <div class="content">
                {{ blogpost.content | safe }}
            </div>
        </div>
    </div>
</article>