<aside id="projects" class="doublebox">
    <div class="top">
        My projects
    </div>
    <div class="bot">
        <ul class="multirow">
            <li>
                <a href="https://github.com/Steffo99/web">
                    web (this website)
                </a>
            </li>
            <li>
                <a href="https://ryg.steffo.eu/">
                    Royalnet
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/appunti-universitari">
                    appunti-universitari
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/greed">
                    greed
                </a>
            </li>
            <li>
                <a href="https://ldjam.com/events/ludum-dare/41/beat-td">
                    Beat TD
                </a>
            </li>
            <li>
                <a href="https://ldjam.com/events/ludum-dare/42/bleach-beach-1">
                    Bleach Beach
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/medals.steffo.eu">
                    medals
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/steamleaderboards">
                    steamleaderboards
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/instant-view-opener">
                    instant-view-opener
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/color-themes">
                    color-themes
                </a>
            </li>
            <li>
                <a href="https://estus.steffo.eu">
                    estus
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/html-include">
                    html-include
                </a>
            </li>
        </ul>
    </div>
</aside>
