<div id="projects" class="doublebox">
    <div class="top">
        My projects
    </div>
    <div class="bot">
        <ul class="multirow">
            <li>
                <a href="https://github.com/Steffo99/web">
                    <i class="fas fa-code"></i> web (this website)
                </a>
            </li>
            <li>
                <a href="https://ryg.steffo.eu/">
                    <i class="fas fa-code"></i> Royalnet
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/appunti-universitari">
                    <i class="fas fa-edit"></i> appunti-universitari
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/greed">
                    <i class="fas fa-code"></i> greed
                </a>
            </li>
            <li>
                <a href="https://ldjam.com/events/ludum-dare/41/beat-td">
                    <i class="fas fa-gamepad"></i> Beat TD
                </a>
            </li>
            <li>
                <a href="https://ldjam.com/events/ludum-dare/42/bleach-beach-1">
                    <i class="fas fa-gamepad"></i> Bleach Beach
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/medals.steffo.eu">
                    <i class="fas fa-code"></i> medals
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/steamleaderboards">
                    <i class="fas fa-code"></i> steamleaderboards
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/instant-view-opener">
                    <i class="fab fa-firefox"></i> instant-view-opener
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/color-themes">
                    <i class="fas fa-paint-roller"></i> color-themes
                </a>
            </li>
            <li>
                <a href="https://estus.steffo.eu">
                    <i class="fas fa-code"></i> estus
                </a>
            </li>
            <li>
                <a href="https://github.com/Steffo99/html-include">
                    <i class="fas fa-code"></i> html-include
                </a>
            </li>
        </ul>
    </div>
</div>
