<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Stefano Pigozzi">
        <meta name="keywords" content="Steffo,Stefano,Pigozzi">
        <meta property="og:site_name" content="Steffo's website" />
        {% if self.opengraph() %}
            {% block opengraph %}
            {% endblock %}
        {% else %}
            <meta property="og:title" content="{{ self.title() }}" />
            <meta property="og:url" content="{{ request.path }}" />
            <meta property="og:type" content="website" />
            <meta property="og:image" content="{{ url_for("static", filename="favicon.png") }}" />
            <meta property="og:description" content="" />
        {% endif %}
        <title>{% block title %}{% endblock %} • Steffo</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="{{ url_for("static", filename="styling.css") }}" rel="stylesheet">
        <link rel="icon" href="{{ url_for("static", filename="favicon.png") }}" type="image/png">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="foot-scripts">
            {% block foot %}{% endblock %}
        </div>
    </body>
</html>